<a href="https://colab.research.google.com/github/merishabh1/Pandas/blob/main/Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
#help(pd.Series)

In [3]:
my_index = ['USA','Canada','Mexico']

In [4]:
mydata = [1776,1867,1821]

In [5]:
myser = pd.Series(data=mydata)

In [6]:
myser

0    1776
1    1867
2    1821
dtype: int64

In [7]:
pd.Series(data=mydata,index=my_index)

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [8]:
ran_data = np.random.randint(0,100,4)

In [9]:
ran_data

array([10, 88, 50, 80])

In [10]:
names = ['Andrew','Bobo','Claire','David']

In [11]:
ages = pd.Series(ran_data,names)

In [12]:
ages

Andrew    10
Bobo      88
Claire    50
David     80
dtype: int64

In [13]:
ages = {'Sammy':5,'Frank':10,'Spike':7}

In [14]:
ages

{'Sammy': 5, 'Frank': 10, 'Spike': 7}

In [15]:
pd.Series(ages)

Sammy     5
Frank    10
Spike     7
dtype: int64

In [16]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [17]:
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)

In [18]:
sales_Q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [19]:
sales_Q1['Japan']

80

In [20]:
sales_Q1[0]

80

In [21]:
sales_Q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [22]:
sales_Q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [23]:
sales_Q2 / 100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [24]:
sales_Q1 + sales_Q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [25]:
sales_Q1.add(sales_Q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64